@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  line-height: 1.25;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

.grey {
  color: #a0aec0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-weight: 400;
  color: #7c8ba1;
}

h1,
h2,
h3,
h4 {
  color: #243e63;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.root {
  padding: 32px;
}

.purple {
  color: #6415ff;
}

/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__title--link {
  font-size: 24px;
  color: #243e63;
  font-weight: 1000;
}

.nav__link--left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__img--wrapper {
  max-width: 40px;
  display: flex;
  align-items: center;
}

.nav__img {
  width: 100%;
  margin-right: 10px;
}

.nav__link,
.nav__link--grouped,
.nav__link--primary {
  font-size: 14px;
  color: #243e63;
  font-weight: 500;
}

.nav__link--anchor {
  color: #243e63;
  margin: 0 24px;
}

.nav__links--list {
  list-style-type: none;
  display: flex;
}

.nav__link--grouped-anchor {
  margin-left: 48px;
  margin-right: 24px;
  cursor: not-allowed;
}

.nav__link--primary-anchor {
  background-color: #6415ff;
  color: #f7fafc;
  border-radius: 24px;
  padding: 0.75rem 2rem;
  margin: 0 auto;
  cursor: not-allowed;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #243e63;
  display: none;
}

.btn__menu:hover {
  cursor: pointer;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  font-size: 40px;
  color: white;
}

/* LANDING */

.row__landing {
  display: flex;
  justify-content: space-between;
  padding: 96px 0;
}

.row__landing--left {
  display: flex;
  flex-direction: column;
  width: 38%;
}

.landing__title {
  font-size: 36px;
  font-weight: 600;
  color: black;
}

.row__landing--right {
  width: 58%;
}

.landing__img,
.logo {
  width: 100%;
}

.input-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing__inp {
  border: 2px solid rgb(226, 232, 240);
  border-radius: 9999px;
  padding: 20px 32px;
  width: 100%;
  color: rgb(226, 232, 240);
  font-size: 16px;
}

.landing__btn {
  background-color: #6415ff;
  color: #f7fafc;
  border: 0px transparent;
  border-radius: 9999px;
  padding: 12px 32px;
  margin: 8px 8px 8px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}

.landing__btn:hover {
  cursor: pointer;
}

.landing__para {
  margin: 32px 0;
  color: #243e63;
}

.logo {
  filter: opacity(50%);
}

.logo__wrapper {
  max-width: 320px;
}

.landing__para--logo {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 12px;
}

.landing__logo {
  margin-top: 80px;
}

/* FEATURES */

.container {
  padding: 80px 0;
}

.row__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0;
}

.title__purple {
  font-size: 16px;
  letter-spacing: 1.75px;
  margin-bottom: 16px;
  font-weight: 600;
  color: #6415ff;
}

.features__title {
  font-size: 48px;
  margin-bottom: 16px;
  font-weight: 900;
  width: 100%;
  text-align: center;
}

.features__para {
  text-align: center;
  color: #7c8ba1;
  line-height: 1.625;
  font-weight: 500;
  max-width: 500px;
  margin-bottom: 40px;
  font-size: 18px;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  width: calc(100% / 3);
  padding: 32px 16px;
}

.service__description {
  margin: 8px 0 0 16px;
}

.service__para {
  color: #7c8ba1;
  margin-top: 16px;
  line-height: 2;
  font-weight: 400;
}

.feature__img--wrapper {
  padding: 20px;
  height: 64px;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 9999px;
}

/* ABOUT */

.row__about {
  display: flex;
  justify-content: space-between;
  padding: 96px 0;
}

.row__about--left {
  width: 48%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
}

.about__title {
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 900;
}

.about__para {
  font-size: 18px;
  line-height: 1.625;
  font-weight: 400;
  margin-bottom: 32px;
}

.row__about--right {
  width: 48%;
  display: flex;
  align-items: center;
}

.about__img--wrapper {
  border: 1px solid rgb(226, 232, 240);
  border-radius: 0.25rem;
  overflow: hidden;
}

.about__img {
  width: 100%;
}

.about__btn,
.values__btn {
  background-color: #6415ff;
  color: #f7fafc;
  border-radius: 9999px;
  padding: 12px 32px;
  border: 0px transparent;
  font-weight: 600;
  font-size: 14px;
}

.about__btn:hover {
  cursor: pointer;
}

/* SETUP */

.row__setup {
  display: flex;
  justify-content: space-between;
  padding: 96px 0;
}

.row__setup--left {
  width: 45%;
  display: flex;
  align-items: center;
}

.setup__img {
  width: 100%;
}

.row__setup--right {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.setup__title {
  font-size: 36px;
  font-weight: 900;
}

.list__seperator {
  display: flex;
  margin-top: 32px;
}

.steps__list {
  list-style-type: none;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
}

.step {
  margin-left: 24px;
}

.step__description {
  margin-top: 12px;
}

/* VALUES */

.row__values {
  display: flex;
  justify-content: space-between;
  padding: 96px 0;
}

.row__values--left {
  width: 45%;
}

.values__title {
  font-size: 48px;
  font-weight: 900;
  width: 75%;
}

.values__para {
  font-size: 18px;
  margin-top: 32px;
  margin-bottom: 24px;
  font-weight: 400;
}

.values__about--wrapper {
  display: flex;
  margin-bottom: 40px;
}

.values__about {
  margin-right: 24px;
}

.values__about--header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  text-align: left;
}

.value__about--title {
  margin-left: 8px;
  font-size: 20px;
}

.fa-suitcase {
  padding: 8px;
  background-color: #feb2b2;
  border: transparent;
  border-radius: 9999px;
}

.fa-dollar-sign {
  padding: 8px 12px;
  background-color: rgb(154 230 180);
  border: transparent;
  border-radius: 9999px;
}

.values__about--para {
  font-weight: 400;
}

.row__values--right {
  width: 50%;
  display: flex;
  align-items: center;
}

.values__img {
  width: 100%;
}

/* PRICING */

.row__pricing {
  text-align: center;
  padding: 96px 0;
}

.pricing__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__title {
  font-size: 48px;
  font-weight: 900;
}

.pricing__para {
  margin-top: 16px;
}

.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plan {
  width: calc(100% / 3 - 32px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(226, 232, 240);
  border-top: transparent;
  border-radius: 8px;
  margin-top: 64px;
  margin-right: 32px;
}

.plan__blue {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  border: transparent;
}

.plan__header {
  padding: 32px 0;
  width: 100%;
}

.glow__green {
  height: 0.5rem;
  width: 101%;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.glow__red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  height: 0.5rem;
  width: 101%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.plan__feature {
  border-bottom: 2px solid rgb(226, 232, 240);
  border-top: 2px solid rgb(226, 232, 240);
  text-align: center;
  padding: 32px;
  width: 100%;
}

.plan__feature--blue {
  --tw-border-opacity: 1;
  border-color: rgb(102 126 234 / var(--tw-border-opacity));
}

.plan__action {
  padding: 32px;
  width: 100%;
}

.type {
  font-size: 20px;
  color: #1a202c;
}

.price {
  margin: 4px 0;
  font-size: 48px;
  color: #1a202c;
}

.duration {
  font-size: 16px;
  color: #a0aec0;
}

.feature__para {
  margin-top: 20px;
}

.action__btn {
  padding: 16px 32px;
  border-radius: 9999px;
  font-weight: 700;
  font-size: 14px;
  border: transparent;
  width: 100%;
}

.action__btn:hover {
  cursor: pointer;
}

.blue-white {
  color: #f7fafc;
}

.blue-offwhite {
  color: #edf2f7;
}

.blue-grey {
  color: #e2e8f0;
}

.btn__green {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  color: #f7fafc;
}

.btn__blue {
  color: #6415ff;
  background: #f7fafc;
}

.btn__red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  color: #f7fafc;
}

/* FOOTER */
.footer__wrapper {
  background-color: rgb(100 21 255);
}

.row__footer {
  padding: 96px 32px 64px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link {
  display: flex;
  flex-direction: column;
  width: auto;
}

.footer__logo--wrapper {
  max-width: 32px;
}

.footer__logo {
  width: 100%;
  padding-top: 2px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info--left {
  display: flex;
  align-items: center;
  color: #f7fafc;
}

.footer__info--header {
  font-size: 20px;
  margin-left: 8px;
  font-weight: 800;
}

.footer__link--header {
  margin-bottom: 12px;
  font-size: 16px;
}

.footer__link--anchor {
  padding-bottom: 4px;
  margin: 12px 0 4px 0;
  font-size: 14px;
}

.footer__link--anchor:hover {
  cursor: not-allowed;
}

.footer__link--list {
  list-style-type: none;
}

.footer__divider {
  margin: 64px 0;
  border-bottom: 2px solid rgb(116, 44, 255);
}

.grey__cr {
  color: #cbd5e0;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  max-width: 100px;
  width: 100%;
}

.footer__links:hover {
  cursor: not-allowed;
}

/* LAPTOPS */

@media (max-width: 1024px) {
  .nav__links--list {
    display: none;
  }

  .row__landing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row__landing--left {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing__title {
    font-size: 32px;
    width: 100%;
    text-align: center;
  }

  .landing__para {
    font-size: 16px;
    margin: 20px 0;
    text-align: center;
    font-weight: 400;
  }

  .input-box {
    width: 80%;
  }

  .landing__para--logo {
    font-size: 14px;
  }

  .landing__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
  }

  .logo__wrapper {
    max-width: 700px;
    width: 100%;
  }

  .row__landing--right {
    margin-top: 48px;
  }

  .row__features {
    padding: 0 12px;
  }

  .features__para {
    font-size: 16px;
    font-weight: 400;
  }

  .service {
    width: 50%;
  }

  .plans {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plan {
    width: 45%;
    margin-right: 0;
  }

  .btn__menu {
    display: block;
  }

  .values__title {
    font-size: 36px;
    width: 80%;
  }

  .values__para {
    font-size: 16px;
    margin-bottom: 0;
  }

  .values__about--wrapper {
    flex-direction: column;
  }

  .values__about--header {
    margin-top: 24px;
  }

  .values__about--para {
    width: 80%;
  }
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 728px) {
  .row__landing--left {
    width: 90%;
  }

  .row__landing--right {
    width: 80%;
  }

  .services {
    display: flex;
    justify-content: center;
  }

  .service {
    width: 55%;
  }

  .row__about {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .row__about--right {
    width: 80%;
    margin-bottom: 64px;
  }

  .row__about--left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
  }

  .about__title {
    width: 100%;
  }

  .about__para {
    font-size: 16px;
  }

  .row__setup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row__setup--left {
    margin-bottom: 48px;
  }

  .row__setup--right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .steps__list {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .list__seperator {
    display: flex;
    flex-direction: column;
  }

  .step__number {
    text-align: center;
    margin-bottom: 4px;
  }

  .step {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .step__title {
    font-size: 20px;
  }

  .step__description {
    font-size: 14px;
    width: 50%;
  }

  .row__values {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .row__values--right {
    width: 80%;
  }

  .row__values--left {
    width: 75%;
  }
  
  
  
  .values__left--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 98px;
  }

  .values__title {
    text-align: center;
  }

  .values__para {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    width: 75%;
  }


  .values__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .values__about--para {
    text-align: center;
    font-size: 16px;
  }

  .pricing__title {
    width: 80%;
  }

  .pricing__para {
    font-size: 14px;
    width: 80%;
  }

  .plan {
    margin-right: 0;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .link {
    width: 30%;
    padding-top: 24px;
  }

  .footer__info {
    display: flex;
    flex-direction: column;
  }

  .grey__cr {
    padding: 24px 0 28px 0;
  }
}

/* PHONES */

@media (max-width: 640px) {
  .input-box {
    width: 110%;
  }

  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  .service__description {
    text-align: center;
    margin-left: 0;
  }

  .plans {
    justify-content: center;
  }

  .plan {
    width: 80%;
  }

  .about__title {
    font-size: 30px;
  }

  .setup__title {
    font-size: 30px;
  }

  .links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }

  .link {
    width: calc(100% / 4);
  }
}
